# General
.vagrant/

# VS Code Workspace
*.code-workspace
/.vscode

# Sensite information
ansible/secrets/
**/secrets/**

# Main project
src/
project/

# Ansible roles
ansible/playbooks/roles/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log
