# General
.vagrant/

# VS Code Workspace
*.code-workspace
/.vscode

# Sensite information
ansible/secrets/

# Main project
src/
project/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log
